.container-corpo{
    height: calc(100vh - 60px)
    background-color: rgb(255, 146, 164);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.imagem{
width: 50%;
}